#about {
  font-size: 120%;

  margin: 0 auto;
  max-width: 90%;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  svg {
    width: 60px !important;
    height: auto;
  }

  .user-details {
    text-align: center;
    margin: 5px auto;
    h1 {
      font-weight: 400;
    }
  }

  .activitiesBox {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      font-size: 16px;
    }
    @media only screen and (min-width: $cut) {
      flex-wrap: nowrap;
      font-size: 75px;
    }

    .tech {
      margin: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: content;
      h2,
      h3 {
        font-weight: 400;
        text-align: start;
      }
      font-size: 1rem;
      ol,
      ul {
        text-align: left;
        list-style-position: outside;
      }
    }
  }
}
