@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Raleway");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Antic+Slab");


html {
  height: 100%;
  width: 100%;
  // background-color: green;
}
body {
  display:block;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0;
  font-size: 100%;
  min-height: 98% ;

  background-color: $bgcolor;
  // background-color: red;
  font-family: "Antic Slab", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
strong {
  display: inline-block;
  margin-top: 1em;
  padding-top: 1em;
  line-height: 1.25;
  color: #333;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
ul,
ol {
  padding-left: 40px;
}

a img {
  border: none;
}
sup,
sub {
  line-height: 0;
}
