@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Raleway");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Antic+Slab");


html {
  height: 100%;
  width: 100%;
}
body {
  display:block;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0;
  font-size: 100%;
  min-height: 98% ;

  background-color: $body-background-color;
  font-family: "Antic Slab", serif;
  font-weight: 400;
}

//anchor symbols and stuff
h1 .octicon, h2 .octicon, h3 .octicon, h4 .octicon, h5 .octicon, h6 .octicon  {
  visibility: hidden;
}

h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
  visibility: visible;
}

.octicon {
  fill: currentColor;
  padding: 0;
  margin-right: -16px;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
strong {
 // display: inline-block;
  margin-top: 0.25em;
  padding-top: 0.25em;
  line-height: 1.25;
  color: #333;

  padding-right: 10px;// for anchor icon

}

h1 {
  margin-right: -20px; // anchor icon
  font-size: 2.5rem;
}
h2 {
  margin-right: -18px; // anchor icon
  font-size: 2rem;
}
h3 {
  margin-right: -16px; // anchor icon
  font-size: 1.5rem;
}
h4 {
  margin-right: -14px; // anchor icon
  font-size: 1rem;
}
ul,
ol {
  padding-left: 40px;
}

a img {
  border: none;
}
sup,
sub {
  line-height: 0;
}
@media screen and (max-width: $cut) {
 h1,h2,h3,h4,h5,h6{
   text-align:center;
 } 
}
.titleh1{
  width:100%;
  text-align:center;
}
