<div class="user-details">
  <h1>What we do</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="activitiesBox">
  <div class="tech">
    <h2>Recent CTFs</h2>
    <ol>
      {% for item in site.data.ctf limit: 5%}
      {% capture teamname%}
      {% if item.teamname %}
      (Team {{item.teamname}})
      {% endif %}
      {% endcapture %}
      <li>
        {{ item.name }}{{teamname}}
        - Rank
        {{ item.rank }}
        - Percentile
        {{ item.rank|minus: 1 | times:-100 | divided_by: item.total | plus: 100}}%
      </li>
      {% endfor %}
      <li>
        <a href="/ctfs/">See more</a>
      </li>
    </ol>

  </div>
  <div class="tech">
    <h2>Recent Hackathons</h2>
    <ol>
      {% for item in site.data.hackathon limit: 5%}

      {% capture projectname %}
      {% if item.projecturl != false %}
      <a href="{{item.projecturl}}">{{ item.projectname }}</a>
      {% else %}
      {{item.projectname}}
      {% endif %}
      {% endcapture %}

      {%capture rank%}
      {% if item.rank %}
      - Rank
      {{item.rank}}
      - Percentile
      {{ item.rank|minus: 1 | times:-100 | divided_by: item.total |plus: 100 }}%
      {% endif %}
      {%endcapture%}
      <li>
        {{ item.name }}
        {{ rank }}
        - Our project {{projectname}}
      </li>
      {% endfor %}
      <li>
        <a href="/hackathons/">See more</a>
      </li>
    </ol>
  </div>
  <div class="tech">
    <h2>Other Projects</h2>

    <p>Don't know what to put here right now</p>
  </div>
</div>