<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.data.site.username }}</span>
            <a href="/join/" class="join-button">Join Now!</a>>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:{{ site.data.site.email }}">
                <i class="icon fas fa-envelope"></i>
            </a>
            <!--a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a> 
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a> -->
            <a aria-label="Our Github" href="https://github.com/{{ site.data.site.github_username }}" target="_blank">
                <i aria-hidden="true" class="icon fab fa-github"></i>
            </a>
            <a aria-label="Our Youtube" href="{{site.data.site.youtubeurl}}" target="_blank">
              <i aria-hidden="true" class="icon fab fa-youtube"></i>
          </a>

        </div>
        <div class="header-links">
            <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
        </div>
    </div>
    <a class="down" data-scroll href="#about">
        <i aria-hidden="true" class="icon fa fa-chevron-down"></i>
    </a>
</div>