<script src="/assets/js/nav.js"></script> 
<div class="wrapcube">
    <div class="cube" id="a">
        <div class="side front">Home</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div>
    <div class="cube" id="b">
        <div class="side front">CTFs</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div>
    <div class="cube" id="c">
        <div class="side front">Hackathons</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div>
    <div class="cube" id="d">
        <div class="side front">Project list</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div>
    <div class="cube" id="e">
        <div class="side front">About</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div>
    <!-- <div class="cube" id="f">
        <div class="side front">HOVER ME</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div>
    <div class="cube" id="g">
        <div class="side front">HOVER ME</div>
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
    </div> -->
</div>
<!-- <h1>rotate menu<br/><small>by Wagner Moschini</small></h1> -->