name: JekyllPublish

on:
  push:
    branches: 
      - code-master
    paths:
      - '!**README.md'
    
jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Use GitHub Actions' cache to shorten build times and decrease load on servers
    - uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    # Standard usage
    - uses:  karmanyaahm/jekyll-action@master
      env:
        JEKYLL_PAT: ${{ secrets.JEKYLL_PAT }}
    
